/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.entire-structure {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25%;
  left: 25%;
}

.todo-structure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather {
  float: none;
  border: 2px solid black;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.calculator {
  border: 2px solid black;
  margin-top: 20px;
  margin-right: 10px;
  width: 250px;
  height: 300px;
}

.input-form {
  border: 2px solid black;
  margin-right: 10px;
  padding: 10px;
}

.todos {
  border: 2px solid black;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: scroll;
  height: 366px;
}

.done {
  border: 2px solid black;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: scroll;
  height: 366px;
}
.todo-lists {
  display: flex;
  flex-direction: column;
}

.todo-memo {
  position: relative;
  border: 2px solid black;
  height: 100px;
  width: 165px;
  left: -30px;
  margin-bottom: 5px;
  overflow: auto;
  word-break: break-word;
  padding: 5px;
}

.done-memo {
  position: relative;
  border: 2px solid black;
  height: 100px;
  width: 165px;
  left: -30px;
  margin-bottom: 5px;
  overflow: auto;
  word-break: break-word;
  padding: 5px;
}

button {
  /* float: right; */
  position: absolute;
  width: 25px;
  left: 140px;
  top: 10px;
}

.done-lists {
  display: flex;
  flex-direction: column;
}

p {
  position: absolute;
  width: 200px;
  height: 50px;
  top: -15%;
  font-size: 23px;
}

span {
  font-size: 20px;
}

label {
  /* border: 2px solid black; */
  text-align: center;
}

span p {
  position: relative;
  /* border: 2px solid black; */
  height: 80px;
  width: 130px;
  margin: 10px 0 0 0;
}