/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.entire-structure {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 15%;
  left: 20%;
  padding: 5%;
  height: 60%;
  /* width: 100%; */
  /* background-color: lightgray; */
}

.todo-structure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather {
  float: none;
  /* border: 2px solid lightgray; */
  box-shadow: 0px 0px 3px 3px lightgray;
  border-radius: 15px;
  height: 130px;
  margin-bottom: 20px;
  /* margin-right: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.forecast-date {
  font-size: 15px;
}

.forecast-img {
  width: 70px;
  height: auto;
}

.forecast-text {
  font-size: 20px;
}

.forecast-temp {
  font-size: 15px;
}

.calculator {
  /* border: 2px solid black; */
  box-shadow: 0px 0px 3px 3px lightgray;
  border-radius: 15px;
  margin-top: 20px;
  margin-right: 10px;
  width: 250px;
  height: 304px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.calculator-result {
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  align-self: flex-end;
  margin-right: 25px;
  font-size: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.numbers {
  border: 2px solid black;
  /* box-shadow: 0px 0px 3px 3px lightgray; */
  border-radius: 50px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 1.7;
}

.num-zero {
  border: 2px solid black;
  border-radius: 50px;
  height: 40px;
  width: 99px;
  text-align: center;
  line-height: 1.7;
}

.icons {
  border: 2px solid black;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 1.2;
  font-size: 29px;
}

.icons:nth-child(1), .icons:nth-child(2), .icons:nth-child(3) {
  font-size: 22px;
  line-height: 1.7;
}

.input-form {
  /* border: 2px solid black; */
  box-shadow: 0px 0px 3px 3px lightgray;
  border-radius: 15px;
  margin-right: 10px;
  padding: 10px;
}

.todos {
  /* border: 2px solid black; */
  box-shadow: 0px 0px 3px 3px lightgray;
  border-radius: 15px;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: scroll;
  height: 348px;
}

.done {
  /* border: 2px solid black; */
  box-shadow: 0px 0px 3px 3px lightgray;
  border-radius: 15px;
  width: 200px;
  margin-left: 10px;
  /* margin-right: 10px; */
  overflow: scroll;
  height: 348px;
}
.todo-lists {
  display: flex;
  flex-direction: column;

}

.todo-memo {
  position: relative;
  border: 2px solid black;
  border-radius: 15px;
  height: 100px;
  width: 165px;
  left: -30px;
  margin-bottom: 5px;
  overflow: auto;
  word-break: break-word;
  padding: 5px;
}

.done-memo {
  position: relative;
  border: 2px solid black;
  border-radius: 15px;
  height: 100px;
  width: 165px;
  left: -30px;
  margin-bottom: 5px;
  overflow: auto;
  word-break: break-word;
  padding: 5px;
}

button {
  /* float: right; */
  position: absolute;
  /* width: 25px; */
  left: 140px;
  top: 10px;
}

.done-lists {
  display: flex;
  flex-direction: column;
}

p {
  position: absolute;
  width: 200px;
  height: 50px;
  top: -3%;
  font-size: 28px;
}

span {
  font-size: 24px;
}

label {
  /* border: 2px solid black; */
  text-align: center;
}

span p {
  position: relative;
  /* border: 2px solid black; */
  height: 80px;
  width: 130px;
  margin: 10px 0 0 0;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}