.entire-structure {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 100px;
  left: 20%;
  padding: 5%;
  height: 600px;
  /* width: 100%; */
  background-color: rgba(235, 235, 235, 0.438);
  border-radius: 15px;
  /* border: solid 2px darkgray; */
}

.todo-structure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather {
  float: none;
  /* border: 2px solid lightgray; */
  /* box-shadow: 0px 0px 3px 3px lightgray; */
  box-shadow: 0px 0px 3px black;
  border-radius: 15px;
  height: 130px;
  margin-bottom: 20px;
  /* margin-right: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  padding: 5px;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.forecast-date {
  font-size: 15px;
  color: rgb(68, 68, 68);
}

.forecast-img {
  width: 70px;
  height: auto;
}

.forecast-text {
  font-size: 20px;
  color: rgb(68, 68, 68);
}

.forecast-temp {
  font-size: 15px;
  color: rgb(68, 68, 68);
}

.calculator {
  /* border: 2px solid black; */
  background-color: white;
  box-shadow: 0px 0px 3px black;
  border-radius: 15px;
  margin-top: 20px;
  margin-right: 10px;
  width: 250px;
  height: 305px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.calculator-result {
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  color: rgb(68, 68, 68);
  align-self: flex-end;
  margin-right: 24px;
  font-size: 40px;
  padding: 0px 0px 2px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.numbers {
  border: 2px solid rgb(179, 179, 179);
  background-color: rgba(235, 235, 235, 0.438);
  color: rgb(68, 68, 68);
  cursor: default;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 1.7;
}

.numbers:hover {
  background-color: rgba(196, 196, 196, 0.438);
}

.num-zero {
  border: 2px solid rgb(179, 179, 179);
  background-color: rgba(235, 235, 235, 0.438);
  color: rgb(68, 68, 68);
  cursor: default;
  border-radius: 50px;
  height: 40px;
  width: 99px;
  text-align: center;
  line-height: 1.7;
}

.num-zero:hover {
  background-color: rgba(196, 196, 196, 0.438);
}

.icons {
  border: 2px solid rgb(179, 179, 179);
  background-color: rgba(235, 235, 235, 0.438);
  color: rgb(68, 68, 68);
  cursor: default;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 1.2;
  font-size: 29px;
}

.icons:hover {
  background-color: rgba(196, 196, 196, 0.438);
}

.icons:nth-child(1), .icons:nth-child(2), .icons:nth-child(3) {
  font-size: 22px;
  line-height: 1.7;
}

.input-form {
  /* border: 2px solid black; */
  background-color: white;
  box-shadow: 0px 0px 3px black;
  color: rgb(68, 68, 68);
  border-radius: 15px;
  margin-right: 10px;
}

.todos {
  /* border: 2px solid black; */
  background-color: white;
  box-shadow: 0px 0px 3px black;
  border-radius: 15px;
  width: 200px;
  margin-top: 18px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: scroll;
  height: 340px;
}

.done {
  /* border: 2px solid black; */
  background-color: white;
  box-shadow: 0px 0px 3px black;
  border-radius: 15px;
  width: 200px;
  margin-left: 10px;
  margin-top: 18px;
  /* margin-right: 10px; */
  overflow: scroll;
  height: 340px;

}
.todo-lists {
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

.todo-memo {
  position: relative;
  /* border: 2px solid black; */
  border-radius: 15px;
  height: 100px;
  width: 165px;
  left: -27.5px;
  margin-bottom: 10px;
  overflow: auto;
  word-break: break-word;
  padding: 5px;
  box-shadow: 0px 0px 3px black;
}

.todo-memo p {
  text-align: center;
  width: 130px;

}

.done-memo {
  position: relative;
  /* border: 2px solid black; */
  border-radius: 15px;
  height: 100px;
  width: 165px;
  left: -27.5px;
  margin-bottom: 5px;
  overflow: auto;
  word-break: break-word;
  padding: 5px;
  box-shadow: 0px 0px 3px black;
}

button {
  /* float: right; */
  position: absolute;
  /* width: 25px; */
  left: 140px;
  top: 10px;
}

.done-lists {
  display: flex;
  flex-direction: column;
}

.helloWorld {
  font-size: 30px;
  font-family: comicsansms;
  color: rgb(68, 68, 68);
  padding-bottom: 10px;
  /* border-bottom: 1px solid black; */
  /* box-shadow: 0px 5px 5px -5px black; */
  margin-top: 0px;
}

#helloWorld {
  font-size: 30px;
}

span {
  font-size: 24px;
}

label {
  position: relative;
  left: 85px;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: comicsansms;
}

input {
  margin-left: 20px;
  margin-bottom: 20px;
  /* margin-right: 10px; */
}

p {
  color: rgb(68, 68, 68);
}